.moverDerecha {
    margin-left: 76px;
}

.imgTamanio {
    width: auto;
    height: 400px;
}

.limiteDiv {
    height: 50%; /*Altura fija*/
    padding: 20px; /*Espacio interno*/ 
}

.limiteTextBox {
    max-width: 100%;
    max-height: 334px;
}